# Python Cache
__pycache__/
*.py[cod]
*$py.class

# Jupyter Checkpoints & CatBoost logs
.ipynb_checkpoints/
catboost_info/
**/catboost_info/

# Virtual Environments
.venv/
env/
venv/
ENV/

# Node / Frontend
frontend/node_modules/
frontend/dist/
node_modules/
dist/

# OS specific
.DS_Store
Thumbs.db
